body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#background-image-container {
    background-image: url('cet1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

#contract-address p, #social-links a {
    margin: 10px;
    display: block;
}

button {
    font-weight: bold;
}

#content h1, #content h2 {
    margin: 10px 0; /* Adjusts spacing around the headings */
}

#content h2 {
    font-size: larger; /* Makes $CET larger or adjust as needed */
    font-weight: bold; /* Optional: Makes $CET bold */
}

